[core]
	editor = code --wait
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[user]
	email = eric@nemchik.com
	name = Eric Nemchik
# 	signingkey = ~/.ssh/id_ed25519.pub
# [gpg]
# 	format = ssh
# [gpg "ssh"]
# 	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
