# Automatically normalize line endings for all text-based files
#* text=auto
# Disabled because of https://github.com/mathiasbynens/dotfiles/issues/149
# Not needed when core.autocrlf is set to true in .gitconfig https://github.com/git/git/blob/6ebdac1bab966b720d776aa43ca188fe378b1f4b/Documentation/RelNotes/2.10.0.txt#L248
